<div class="booking-form">
<%= simple_form_for [ @offer, @booking] do |f| %>
  <%= f.input :start_time, as: :date, html5: true, :value => Time.now.strftime('%Y-%m-%d') %>
  <%= f.input :end_time, as: :date %>
  <%= f.input :description, placeholder: 'Description' %>
  <%= f.submit 'Create booking', class: 'btn btn-primary' %>
<% end %>
</div>
