 <div>
    <% @offers.each do |offer| %>
      <div class="card-product">
        <%= cl_image_tag offer.user.photo.key, class:"card-img" %>
        <div class="card-product-infos">
          <h2><%= offer.category %></h2>
          <h3><%= link_to offer.title, offer_path(offer) %> by <%= link_to offer.user.first_name, user_path(offer.user) %></h3>
          <p><%= offer.description %></p>
        </div>
      </div>
    <% end %>
</div>
