<div class="offer-form">
<h3>Create a new offer</h3>
<%= simple_form_for @offer do |f| %>
          <%= f.input :title, placeholder: 'title' %>
          <%= f.input :description, placeholder: 'Description' %>
          <%= f.input :category, :collection =>["JavaScript", "React", "Angular","CSS","Ruby","Python","Node.js","C++","Java"]%>
          <%= f.input :start_time, as: :date, placeholder: 'start' %>
          <%= f.input :end_time, as: :date, placeholder: 'end' %>
          <%= f.submit class: 'btn btn-primary' %>
        <% end %>
</div>
