
<%= render "dashboard_card" %>

<br><h3>Your offers:</h3>
<br>
<% @offers.each do |offer| %>
  <% if offer.user == current_user %>
  <div class="card-product">
        <%= cl_image_tag offer.user.photo.key, class:"card-img" %>
        <div class="card-product-infos">
          <h2><%= offer.category %></h2>
          <h4><%= link_to offer.title, offer_path(offer) %></h4>
          <p><%= offer.description %></p>
          <%= link_to offer_path(offer), method: :delete, data: {confirm: 'Are you sure?'} do %>
            <div class="delete-offer">Delete offer
              <style>
                .delete-offer {color:red;}
              </style>
            </div>
          <% end %>
        </div>
      </div>
  <% end %>
<% end %>
<%# current_user.last_name  %>
<br>

<%= link_to new_offer_path do  %>
  <div class="btn btn-success">New Offer</div>
  <% end %>

  <%= link_to edit_user_registration_path(current_user) do %>
    <div class="btn btn-success">Edit Profile</div>
    <% end %>
