
<%= render "dashboard_card" %>
<%= link_to new_offer_path do  %>
  <div class="btn btn-danger btn-dashboard">New Offer</div>
  <% end %>

<div class="dashboard-offer">
<h3>Your offers:</h3>
<% @offers.each do |offer| %>
  <% if offer.user == current_user %>
  <div class="card-product">
  <%= link_to offer_path(offer) do %>
        <%= cl_image_tag offer.user.photo.key, class:"card-img" %>
        <div class="card-product-infos">
          <h2><%= offer.category %></h2>
          <h4><%= offer.title %></h4>
          <p><%= offer.description %></p>
          <%= link_to offer_path(offer), method: :delete, data: {confirm: 'Are you sure?'} do %>
            <div class="delete-offer">Delete offer
              <style>
                .delete-offer {color:red;}
              </style>
            </div>
          <% end %>
        </div>
  </div>
  <% end %>
  <% end %>
<% end %>
</div>
<%# current_user.last_name  %>
<br>


<%= render 'bookings/booking_card' %>
