<!DOCTYPE html>
<html>
  <head>
    <title>Rent73424Seven</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
<div class= "page-container d-flex flex-column" style="padding-bottom: 100px;">
    <% if user_signed_in? && current_page?(classmates_path) %>
    <div class="avatar-div">
    <%= cl_image_tag current_user.photo.key, width: 150, height: 150, crop: :thumb, gravity: :face, class:"card-trip-user avatar-bordered mainpage-avatar" %>
    </div>
    <% end %>
    <% unless current_page?(root_path) %>
    <%= render 'shared/navbar_test' %>
    <%= render 'shared/flashes' %>
    <% end %>
    <% if current_page?(classmates_path) %>
    <div class="banner-classmates">
    </div>
    <% end %>
    <% if current_page?(root_path) %>
      <%= render 'pages/banner' %>
    <% end %>
      <div class="container flex-grow-1">
      <%= yield %>
      </div>
    </div>
    <% unless current_page?(root_path) %>
    <%= render 'shared/footer' %>
    <% end %>
  </body>
</html>
